/* La liste des variables  */
:root {
  --darkColor: #0f0f0f;
  --yellow-color: #ffc14f;
  --red-color: #a00814;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@100&display=swap");
@font-face {
  font-family: Goliend;
  src: url(../public/fonts/Goliend.ttf);
}

* {
  font-family: "Montserrat", sans-serif;
}

.darkTheme {
  background-color: var(--darkColor);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.lightTheme {
  background-color: white;
  color: var(--darkColor);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.galsMorf {
  background-color: rgb(4, 4, 4);
}

.footer {
  position: relative;
  /* opacity: .3; */
}
.footerBg {
  background-image: url(../public/images/footerBg.png);
  background-size: cover;
  background-position: bottom;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
.nav-links {
  list-style-type: none;
  text-decoration: none;
  width: 80%;
  position: sticky;
  top: -2px;
  z-index: 50;
  backdrop-filter: blur(50px);
  background-color: rgba(15, 15, 15, 0.2);
  width: 100%;
  padding: 25px 0;
}
.footer-nav-links {
  list-style-type: none;
  text-decoration: none;
}
.searchInput {
  outline: none;
  border: none;
  color: white;
}
.footer-socialMedia {
  list-style-type: none;
  text-decoration: none;
  width: fit-content;
}
.btn {
  padding-left: 10px;
  padding-right: 10px;
}
.btn-yellow {
  background-color: var(--yellow-color);
}
.btn-red {
  background-color: var(--red-color);
  color: white;
}
.NavContainer {
  padding-inline: 50px;
  z-index: 30;
  position: absolute;
  top: 0;
  width: 100%;
}
.swiperItem {
  height: 750px;
}
.swiperContent {
  position: relative;
  padding-top: 17%;
  padding-left: 10%;
}
.swiperTitle {
  font-size: 120px;
  font-weight: 500;
  line-height: 80px;
  font-family: Goliend;
}
.commentList{
  height: 300px;
  overflow-y: auto;
  width: 100%;
}
.swiperTitle > span {
  color: var(--yellow-color);
  font-family: Goliend;
}
.swiperDescription {
  width: 40%;
}
.ctgSwiperTitle {
  font-family: Goliend;
  font-size: 80px;
}
.recipeCard {
  width: 400px;
  background-color: #a00814;
}
.recipeCard > img {
  width: 100%;
}

@media (min-width: 768px) {
  .image-slider-container {
    width: 80%;
    margin: 20px auto;
  }
}

.image-slider-container .image-slider-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
}

.image-slider-container .image-slider-heading h2 {
  font-size: 17px;
  color: #c7c7c7;
}

.image-slider-container .image-slider-heading .swiper-pagination {
  position: relative;
  width: auto;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
}

.image-slider-container
  .image-slider-heading
  .swiper-pagination
  .swiper-pagination-bullet {
  background-color: #e4e4e4;
  opacity: 100%;
  width: 15px;
  height: 10px;
  border-radius: 100px;
  transition: 0.5s;
  margin: 0px 3px;
}

.image-slider-container
  .image-slider-heading
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: var(--yellow-color);
  width: 30px;
}

.image-slider-container .swiper {
  position: relative;
}

.image-slider-container .swiper .swiper-slide {
  width: 270px;
}

.slide-con {
  overflow: hidden;
  height: 330px;
  margin: 0px 0px;
  position: relative;
  border-radius: 10px;
}

.image-slider-container .swiper .swiper-slide .slide-con .slide-details {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  display: none;
}

.image-slider-container
  .swiper
  .swiper-slide
  .slide-con
  .slide-details
  .movie-info
  h2 {
  font-size: 15px;
  padding: 5px 0px 5px 0px;
}

.image-slider-container
  .swiper
  .swiper-slide
  .slide-con
  .slide-details
  .movie-info
  span {
  font-size: 13px;
  margin-right: 0px;
  color: #727272;
}

.image-slider-container
  .swiper
  .swiper-slide
  .slide-con
  .slide-details
  .movie-btns {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.image-slider-container
  .swiper
  .swiper-slide
  .slide-con
  .slide-details
  .movie-btns
  a {
  text-decoration: none;
  color: white;
  padding: 5px 5px;
  font-size: 13px;
  margin: 0px 3px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
}

.image-slider-container .swiper .swiper-slide .slide-con:hover .slide-details {
  display: flex;
}

.image-slider-container .swiper .swiper-slide .slide-con:hover div.movie-info {
  animation: 30s 1 m;
}
.cardImage {
  height: 170px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.cardImage > img {
  position: absolute;
  border-radius: 10px;
  object-fit: contain;
  width: 100%;
}
.likeCard {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: solid 1px rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  padding: 2px;
  cursor: pointer;
}
.categoryCard {
  width: 80px;
  height: fit-content;
  padding: 3px;
  border-radius: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  margin-top: 7px;
  font-size: 12px;
}
.swiper-slide {
  margin-inline: 7px;
  position: relative;
}

.blurEffect {
  width: 70px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  left: 5px;
  border-radius: 10px;
}
.slide-con {
  border: solid 1px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  padding: 2px;
  cursor: pointer;
}
.slide-con img {
  transition: all 1s;
}
.slide-con:hover img {
  transform: scale(1.2);
  transform-origin: center;
}
.slide-con:hover {
  border: solid 1px rgba(255, 255, 255, 0.5);
  opacity: 1;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(80px);
}
.cardTitle {
  height: 48px;
}

.cardContent {
  padding: 5px;
  padding-top: 8px;
}
.cardDescription {
  font-weight: 300;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 30px;
  margin-bottom: 15px;
}
.card-btn {
  display: block;
  margin-left: auto;
  font-size: 12px;
}
@keyframes m {
  from {
    transform: translateY(-85px);
  }
  1% {
    transform: translateY(60px);
  }
  1.5% {
    transform: translateY(0px);
  }
  2% {
    transform: translateY(20px);
  }
  2.5% {
    transform: translateY(0px);
  }
  to {
    transform: translateY(0px);
  }
}

.pageHeader {
  padding: 120px 0 0px 0;
  font-size: 100px;
  font-family: Goliend;
}
.artFont {
  font-family: Goliend;
}
.selectInput {
  padding: 7px 7px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  opacity: 1;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  color: white;
  width: 170px;
  cursor: pointer;
  outline: none;
}

option {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.selectInput:hover {
  border-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(12px);
}
.filterBox {
  width: fit-content;
}
.filterBlur {
  z-index: -50;
  border-radius: 50%;
  bottom: 2px;
  left: 2px;
  width: 50px;
}

.recipeCardStats {
  font-size: 12px;
}

.recipeBigDescription {
  white-space: pre-wrap;
  font-family: "Montserrat", sans-serif;
}
.recetteTag {
  padding: 5px 15px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
}

.bluredBox {
  border: solid 1px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    10deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.1) 80%,
    rgba(255, 255, 255, 0.2) 100%
  );
  backdrop-filter: blur(20px);
}
.lightBluredBox{
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    10deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 20%,
    rgba(0, 0, 0, 0.1) 80%,
    rgba(0, 0, 0, 0.2) 100%
  );
  backdrop-filter: blur(25px);
}
.notesSection {
  width: 100%;
  height: 80%;
  padding: 8px 15px;
  color: white;
  outline: none;
  border-radius: 10px;
}
.ratingBox:hover {
  margin-top: -5px;
  padding-bottom: 5px;
}
.ratingBox:hover .starRating {
  transform: scale(1.1);
  cursor: pointer;
}
.starRating:hover ~ .starRating {
  margin-top: 5px;
  transform: scale(0.8);
}
.ratingSection {
  height: 90px;
}
.registerForm {
  width: 60%;
  margin-top: 110px;
}
.loginForm {
  width: 35%;
  margin-top: 150px;
}
.text-white{
  color: whites;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(134, 134, 134);
  opacity: 1; /* Firefox */
}
input {
  outline: none;
  color: white;
}
input::file-selector-button {
  border: solid 1px rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    10deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.1) 80%,
    rgba(255, 255, 255, 0.2) 100%
  );
  backdrop-filter: blur(15px);
  margin: 0 10px 3px 0;
}
input::file-selector-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);

}
.stepCircle {
  width: 100px;
  height: 100px;
  font-size: 80px;
  font-family: Goliend;
  cursor: pointer;
}
.stepCircle:hover {
  border-color: var(--yellow-color);
  color: var(--yellow-color);
}
.activeStep {
  border-color: var(--yellow-color);
  color: var(--yellow-color);
}
.stepLine {
  width: 200px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 50px 0;
}
.ingredientsSuggestions {
  top: 100%;
  z-index: 30;
  left: 50%;
  transform: translate(-50%, 0);
}
.suggestion {
  cursor: pointer;
}
.suggestion:hover {
  border-bottom-color: var(--yellow-color);
  color: var(--yellow-color);
}

/* admin */
.sideBar,
.adminpages {
  height: 100vh;
  overflow-y: auto;
}

.statsCard {
  border: 2px solid;
  padding: 15px 15px 5px 15px;
  border-radius: 15px;
}
.statsCard:hover {
  transform: scale(1.02);
}
.nbUsersCard {
  background-color: rgba(255, 230, 0, 0.7);
  border-color: rgba(255, 230, 0, 0.9);
}
.nbRecipesCard {
  background-color: rgba(255, 0, 0, 0.5);
  border-color: rgba(255, 0, 0, 0.6);
}
.nbNewsCard {
  background-color: rgba(98, 255, 0, 0.5);
  border-color: rgba(85, 255, 0, 0.6);
}
.nbNutrutionCard {
  background-color: rgba(255, 0, 0, 0.1);
  border-color: rgba(85, 255, 0, 0.1);
}
.statsNumber {
  font-size: 120px;
  line-height: 100px;
  margin: 10px 0 -10px 0;
}
.TableHeader {
  border: solid 1px var(--yellow-color);
  background-color: rgba(255, 242, 0, 0.1);
  background: linear-gradient(
    10deg,
    rgba(255, 242, 0, 0.3) 0%,
    rgba(255, 242, 0, 0.1) 20%,
    rgba(255, 242, 0, 0.1) 80%,
    rgba(255, 242, 0, 0.3) 100%
  );
  color: var(--yellow-color);
}

.TableRow:hover {
  border-bottom-color: var(--yellow-color);
  margin-left: 10px;
  color: var(--yellow-color);
}
.ingredientBox:hover {
  transform: scale(1.1);
  backdrop-filter: blur(25px);
}
.likeCard,
.categoryCard {
  background-color: rgba(0, 0, 0, 0.5);
}

.profileBox {
  background-color: rgba(0, 0, 0, 0.4);
}
.profileBox:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.largeText {
  font-size: 120px;
  font-weight: 900;
}
